* {
    margin: 0;
}

main {
    width: 970px;
    background: #265175;
    margin: 0 auto;
    font-family: "Helvetica";
    font-weight: 100;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.logo {
    width: 45%;
}

.header-functions {
    text-align: right;
}

.text-size-adjuster {
    padding-right: 43px;
    padding-bottom: 5px;
    color: #fff;
    font-size: 13px;
}

.text-size-adjuster a {
    color: #edca37;
}

.text-size-adjuster a:first-child {
    border-right: 1px solid #000;
    padding-right: 4px;
}

.search {
    background: #444;
    width: 250px;
    border-radius: 8px;
    text-align: center;
    padding: 12px;
    box-shadow: 4px 4px 2px -1px rgba(0,0,0,0.6);
}

.search input {
    height: 30px;
    box-shadow: inset 0 0 2px 1px rgba(136,136,136,1);
    text-align: center;
}

.search button {
    height: 30px;
    background: #245076;
    color: #fff;
    border-radius: 5px;
}

nav {
    background: #4980ad;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 4px 4px 2px -1px rgba(0,0,0,0.6);
    margin: 0 50px 0 80px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: #fff;
    font-size: 22px;
}

aside {
    width: 80%;
    padding-top: 20px;
}

aside a {
    color: #fff;
    text-decoration: underline;
}

aside li {
    color: #edca37;
    font-size: 17px;
    margin-bottom: 8px;
    text-align: center;
}

.info {
    color: #fff;
    font-size: 14px;
    line-height: 1.1;
}

.content-wrapper {
    margin: 20px 50px 20px 80px;
    display: flex;
    justify-content: space-between;
}

.main-content {
    text-align: center;
    padding-left: 20px;
}

.highlights ul {
    color: #edca37;
    font-size: 18px;
    font-style: italic;
}

.highlights {
    padding-top: 10px;
}

.highlights li {
    padding-bottom: 10px;
}

.highlights p {
    color: #fff;
}

.documents {
    background: #fff;
    display: flex;
    text-align: center;
    padding: 10px 50px 10px 80px;
}

.documents .more-info {
    border-top: 4px solid #72a8d5;
    margin: 0 20px;
    padding: 10px 0;
}

.documents h2 {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 5px;
}

.documents p {
    font-size: 13px;
    padding: 0 25px;
}

.documents li {
    list-style-type: square;
}

.documents ul {
    padding: 10px 60px;
}

.documents li a {
    font-size: 13px;
    color: #72a8d5;
}

footer {
    margin: 0 50px 0 80px;
}